$main-black: #242320;
$main-red: #ee2e24;
$sub-red: #e4433a;
$bg-lightgray: #f4f4f4;
$lightgray: #302f2a;

// 넓이 지정해주고 가운데 맞춤
// .wrapper {
//   border: 1px solid #ccc;
//   width: 800px;
//   margin: 0 auto;
// }
