@import '../common.module.scss';

.AboutBox {
  border: 1px solid red;
  margin: 0 auto;
  width: $content-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    height: 40px;
    background-color: $red;
    color: $white;
    display: inline-block;
    width: 20%;
    line-height: 40px;
    margin: 10px 0 40px;
    text-align: center;
  }
  .members {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .member {
      width: 180px;
      margin: 10px 5px;
      padding: 15px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      .image {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        object-fit: cover;
        object-position: center;
      }
      span {
        display: block;
        text-align: center;
        line-height: 1.4rem;
      }
    }
  }
}
