@import '../common.module.scss';

.eachSeat {
  input {
    display: none;
  }

  label {
    width: 23px;
    height: 23px;
    display: inline-block;
    border: 2px solid #fff;
    text-align: center;
    line-height: 20px;
    margin-right: 6px;
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
  }

  label {
    font-size: 16px;
    opacity: 0.5;
  }

  input:checked {
    + label {
      opacity: 1;
    }
    + .reserved {
      opacity: 0.5;
    }
  }

  input:checked {
    + label {
      background: #16a085;
    }
    + .reserved {
      background: $red;
    }
  }
}
