@import '../common.module.scss';
@media (min-width: 768px) {
  // .firstStepWrapper {
  //   width: 750px;
  //   display: flex;
  // }
  // 서형이&혜비랑 상의해보기 길이 값
  .firstStepWrapper {
    width: 67vw;
    min-width: 750px;
    max-width: 1050px;
    display: flex;
  }
}
@media (max-width: 767px) {
  .firstStepWrapper {
    width: 100vw;
  }
}
