@import '../common.module.scss';

@media (min-width: 768px) {
  // .firstStepWrapper {
  //   width: 750px;
  //   display: flex;
  // }
  // 서형이&혜비랑 상의해보기 길이 값
  .firstStepWrapper {
    width: 67vw;
    min-width: 750px;
    max-width: 1050px;
    height: 500px;
    // background-color: $stone-gray;
    .dataTitlesWrapper {
      display: flex;
      h3 {
        flex: 3;
        background-color: $black;
        color: $white;
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-right: 1px solid $silver-gray;
        font-size: 1.1rem;
        // font-weight: bold;
      }
      .dateBoxTitle {
        flex: 1.5;
      }
      .timeBoxTitle {
        border-right: none;
      }
    }

    .dataBoxesWrapper {
      display: flex;
      height: 460px;
      position: relative;

      .movieDataBox,
      .theaterDataBox,
      .dateDataBox,
      .timeDataBox {
        flex: 3;
        background-color: $stone-gray;
        color: $lighten-silver;
        border-right: 1px solid $silver-gray;
      }
      .dateDataBox {
        flex: 1.5;
      }
      .timeDataBox {
        border-right: none;
      }
    }

    .loadingWrapper {
      background-color: white;
      width: 100%;
      height: 100%;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    .basicDisplay {
      //   display: none;
      visibility: hidden;
      position: absolute;
      background-color: rgba(55, 54, 51, 0.5);
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .loadingDisplay {
      visibility: visible;
    }
  }
}
@media (max-width: 767px) {
  .firstStepWrapper {
    width: 100%;
    background-color: $stone-gray;
    color: $lighten-silver;
    .dataTitlesWrapper {
      display: flex;
      h3 {
        font-size: 1rem;
        display: inline-block;
        background-color: $black;
        color: $white;
        flex: 1;
        text-align: center;
        padding: 10px 0;
        position: relative;
        &::after {
          content: '>';
          position: absolute;
          right: 0;
        }
        &:last-of-type {
          &::after {
            content: '';
          }
        }
      }
    }
  }
}
