@import '../common.module.scss';

.firstStepWrapper {
  //   border: 1px solid salmon;
  h1 {
    color: #ee2e24;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
  }
  .FirstStep {
    &Box {
      width: 70vw;
      //   border: 1px solid orange;
      display: flex;
      span {
        text-align: center;
        display: block;
        color: #fff;
        background-color: #242320;
        padding: 5px;
      }
      ul {
        padding: 10px;
        height: 400px;
        overflow-y: scroll;
      }
      li {
        cursor: pointer;
        line-height: 1.6rem;
        list-style: none;
      }
    }
    &Movie,
    &Theater,
    &Date,
    &Time {
      background-color: #403f3a;
      color: #ccc;
    }
    &Movie {
      flex: 1;
      //   width: 25%;
      height: 100%;
      border-right: 1px solid #ccc;
    }
    &Theater {
      flex: 1;
      border-right: 1px solid #ccc;
    }
    &Date {
      flex: 1;
      border-right: 1px solid #ccc;
    }
    &Time {
      flex: 1;
    }
  }
}
