@import '../common.module.scss';

.eachDataBox {
  flex: 1;
  background-color: $stone-gray;
  color: $ligten-silver;
  height: 500px;
  border-right: 1px solid $silver;
  h3 {
    background-color: $black;
    color: $white;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  .scrollBox {
    height: 460px;
    overflow-y: scroll;
  }

  li {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    line-height: 1.4rem;
    transition: 0.3s;
    &:hover {
      color: $red;
    }
  }

  .movieLi {
    position: relative;
    text-indent: 25px;
    &::after {
      content: '';
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Republic_Of_Korea_Broadcasting-TV_Rating_System%2812%29.svg/2000px-Republic_Of_Korea_Broadcasting-TV_Rating_System%2812%29.svg.png');
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
    }
  }
  .locationWrapper {
    display: flex;
    justify-content: space-between;
    height: 460px;
    .locationBox {
      flex: 3;
    }

    .locationLi {
      margin: 10px;
      background-color: $lightstone-gray;
      text-align: right;
    }
    .subLocationBox {
      flex: 2;
    }
  }

  .selected {
    color: $white;
    transition: 0.3s;
    background-color: $red !important;
    border-radius: 1px;
    &:hover {
      color: $white;
    }
  }
}
