@import '../common.module.scss';
@media (min-width: 768px) {
  .firstStepWrapper {
    width: 750px;
    display: flex;
  }
}
@media (max-width: 767px) {
  .firstStepWrapper {
    width: 100vw;
  }
}
