@import '../common.module.scss';

.menuBar {
  width: $content-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;

  nav {
    display: none;
  }

  .logo {
    position: relative;
    width: 100px;
    height: 90%;
    cursor: pointer;
    // 웹 접근성을 위해 Home 텍스트 숨기기. CGV 로고만 보이게
    text-indent: 150px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('http://img.cgv.co.kr/R2014/images/title/h1_cgv.png');
      background-position-y: 40%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .menu {
    position: relative;
    right: -13px;

    .link {
      padding: 3px 10px;
      margin: 0 3px;
      color: $black;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 700;
      background-color: $white;
      border: 0;
      transition: 0.3s;

      &:active {
        outline: none;
      }

      &:hover {
        color: $red;
      }
    }

    .HeaderFocus {
      color: $red;
    }
  }
}

// 반응형
@media (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .menuBar {
    position: fixed;
    height: 72px;
    width: 100%;
    background-color: $white;
    z-index: 100;
  }

  .logo {
    margin: 0 auto;
  }

  .menu {
    display: none;
  }
}
