@import '../common.module.scss';

.carousel {
  width: 100%;
  background-color: $black;
  height: fit-content;
}

// 무비 차트 영역
.movie {
  padding: 64px 0;
  width: 100%;
  height: 100%;
  background-color: $silver-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .movieNav {
    // 현재상영작 & 개봉예정작 버튼
    button {
      background-color: $gray;
      color: #f4f4f4;
      width: 150px;
      height: 50px;
      font-size: 1rem;
      margin: 0 8px;
      padding: 0;
      cursor: pointer;
      border: 0;
    }

    // 각 버튼 클릭 시 빨간 색으로 표시
    .active {
      background: $dark-red;
    }
  }

  // 전체보기 링크
  .more {
    display: inline-block;
    width: 72px;
    height: 24px;
    margin: 8px 0 8px 79%;
    color: $lightenstone-gray;
    position: relative;
    top: 25px;
    font-family: 'noto-sans';
    font-weight: 400;
    font-size: 0.8em;
    padding-top: 7px;
    background-color: $light-silver;

    &:hover {
      color: $white;
      background-color: $gray;
    }
  }

  // 무비 리스트 가운데 정렬
  ul {
    width: 70vw;
    margin: 24px auto 0 auto;

    li {
      padding: 8px;
      margin: 8px 8px 0 8px;
      border-style: none;
      box-shadow: 3px 1px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

// 이벤트 영역
.event {
  width: 100%;
  height: 300px;
  background-color: $dark-white;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .eventImages {
    width: 70vw;
    border: 1px solid red;
    .firstEvent {
      border: 1px solid orange;
    }
    .secondEvent {
      border: 1px solid green;
    }
    .thirdEvent {
      border: 1px solid blue;
    }
  }
}

// 트레일러 영역

.trailer {
  width: 100%;
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .trailerVideo {
    width: 50%;
  }
  padding: 5vh 0 10vh 0;
}
.subTitle {
  display: inline-block;
  width: 100px;
  text-align: center;
  color: #f4f4f4;
  width: 150px;
  height: 50px;
  font-size: 1rem;
  margin: 5vh 0;
  line-height: 50px;
  background: #ee2e24;
}
