@import '../common.module.scss';

.carousel {
  width: 100%;
  height: 20vh;
  background-color: rosybrown;
}
// 무비 차트 영역
.movie {
  width: 100%;
  height: 600px;
  background-color: #f4f4f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // 무비 리스트 가운데 정렬
  ul {
    width: 70%;
    margin: 0 auto;
  }
}
.trailer {
  width: 100%;
  height: 20vh;
  background-color: powderblue;
}
.event {
  width: 100%;
  height: 20vh;
  background-color: bisque;
}
