@import '../common.module.scss';

.layoutWrapper {
  margin: 0 auto;
  position: relative;

  .header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 50px 0 rgba(70, 70, 70, 0.1);
  }

  .children {
    // footer 가 20vh, 헤더가 8vh
    min-height: calc(100vh - 20vh - 72px);
  }

  .footer {
    background-color: $gray;
    height: fit-content;
    width: 100%;

    // sprite 이미지 위치 조정
    &Img {
      background-color: #242320;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;

      &::after {
        display: block;
        content: '';
        background: url('./footer_brand.png') no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        width: $content-width;
        height: 100%;
      }
    }

    &Info {
      width: $content-width;
      margin: 0 auto;
      height: 100%;
      text-align: center;
      padding: 30px;
      color: $light-gray;
      .team {
        display: block;
        // color: $deepdarken-white;
        padding-top: 20px;
        transition: 0.3s;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .layoutWrapper {
    .children {
      min-height: calc(100vh - 20vh - 54px);
      padding-top: 57px;
    }
  }
}
