@import '../common.module.scss';

.wrapper {
  background-color: #302f2a;
  width: 100%;
  padding: 130px;
  text-align: center;
  h2 {
    color: white;
    font-size: 2rem;
  }
  .nav {
    color: #f4f4f4;
    margin: 40px 0;
    a {
      display: inline-block;
      background-color: #242320;
      width: 150px;
      height: 50px;
      line-height: 51px;
      font-size: 1rem;
      margin: 10px;
      cursor: pointer;
    }
    // 각 버튼 클릭 시 빨간 색으로 표시
    .active {
      background: #ee2e24;
    }
  }
  ul {
    width: 85%;
    margin: 0 auto;
  }
}
