@import '../common.module.scss';

.movieDetailBox {
  margin: 80px auto;
  width: 58vw;

  .movieInfo {
    //   border: 1px solid white;
    display: flex;
    justify-content: space-between;

    .posterWrapper {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .poster {
        width: 100%;
        height: calc(100% - 50px);
      }
      .button {
        width: 100%;
        height: 35px;
        color: #fff;
        background-color: $red;
        border: 0;
        font-weight: bold;
        text-align: center;
        line-height: 35px;
        transition: 0.3s;
        border: 1px solid $red;
        &:hover {
          background-color: $white;
          color: $red;
        }
      }
    }

    .basicInfo {
      width: 70%;
      // border: 1px solid orange;
      padding: 30px;
      color: #fff;

      .title {
        font-size: 1.6rem;
      }

      .reservationScore {
        display: block;
        font-size: 1.2rem;
        margin: 30px 0;
        color: #ccc;
      }

      .list {
        color: #aaa;
        font-size: 1rem;
        line-height: 1.8rem;
        display: flex;

        span {
          margin-right: 3px;
          width: fit-content;
          white-space: nowrap;
        }
      }
    }
  }

  .subWrapper {
    //   border: 1px solid salmon;
    text-align: center;
    margin: 50px 0;

    .subTitle {
      height: 40px;
      background-color: #555;
      color: #fff;
      display: inline-block;
      width: 20%;
      line-height: 40px;
      margin: 30px;
    }

    .descriptionLine {
      color: #aaa;
      line-height: 1.8rem;
      margin: 30px;
      display: block;
      font-size: 1rem;
    }
  }
}
