@import '../common.module.scss';

.movieDetailWrapper {
  background-color: #302f2a;
  //   border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  .movieDetailBox {
    width: $content-width;
    // border: 1px solid #ccc;
    padding: 80px;
    h2 {
      color: $main-red;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      margin: 50px 0;
    }
    .movieInfo {
      //   border: 1px solid white;
      display: flex;
      justify-content: space-between;
      .posterWrapper {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .poster {
          width: 100%;
          height: calc(100% - 50px);
        }
        button {
          width: 100%;
          height: 35px;
          color: #fff;
          background-color: $main-red;
          border: 0;
          font-weight: bold;
        }
      }
      .basicInfo {
        width: 70%;
        // border: 1px solid orange;
        padding: 20px;
        color: #fff;
        .title {
          font-size: 1.5rem;
        }
        .reservationScore {
          display: block;
          font-size: 1.1rem;
          margin: 30px 0;
          color: #ccc;
        }
        .list {
          color: #aaa;
          font-size: 0.9rem;
          line-height: 1.4rem;
          display: flex;
          span {
            margin-right: 3px;
            width: fit-content;
            white-space: nowrap;
          }
        }
      }
    }
    .subWrapper {
      //   border: 1px solid salmon;
      text-align: center;
      margin: 50px 0;
      .subTitle {
        height: 40px;
        background-color: #555;
        color: #fff;
        display: inline-block;
        width: 20%;
        line-height: 40px;
        margin: 30px;
      }
      .descriptionLine {
        color: #aaa;
        line-height: 1.5rem;
        margin: 30px;
        display: block;
        font-size: 0.9rem;
      }
    }
  }
}
