@import '../common.module.scss';

// 모바일
@media (max-width: 767px) {
  .movieList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    // 홈페이지에서의 리스트는 wrap되지 않습니다.
    &.home {
      width: 90%;
    }

    .empty {
      width: 125px;
    }
  }

  .movieItem {
    width: 125px;
    height: 175px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    position: relative;

    figure {
      display: flex;
      font-size: 0.9rem;

      &.loaded::before {
        content: '';
        display: block;
        width: 125px;
        height: 175px;
        background-color: $stone-gray;
        position: absolute;
        top: -1px;
        left: -1px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      figcaption {
        display: none;
      }
    }

    .mobileInfo {
      display: none;
    }

    .button {
      display: none;
    }

    &.mobileClick {
      position: relative;

      .button {
        display: block;
        width: 115px;
        height: 165px;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 5px;
        left: 5px;
        color: white;
        padding-top: 60%;
        box-sizing: border-box;
        font-size: 0.5rem;

        a {
          display: inline-block;
          width: 92px;
          height: 24px;
          line-height: 23px;
          margin: 2px;
          border: thin solid $dark-white;
          font-weight: 400;
          color: $dark-white;
          background-color: rgba($color: #ffffff, $alpha: 0.05);
        }
      }

      figure {
        figcaption {
          font-size: 0.8rem;
          display: inline-block;
          width: 115px;
          text-align: center;
          position: absolute;
          z-index: 5;
          color: white;
          top: 20%;
          padding: 5px;
          line-height: 16px;
        }
      }
    }

    .rank {
      font-size: 0.7rem;
      position: absolute;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 21px;
      background-color: rgba(238, 46, 36, 0.95);
      top: 2px;
      left: 10px;
      color: #f2f2f1;
      z-index: 99;
    }
  }
}

// 데스크탑
@media (min-width: 768px) {
  // 전체 ul
  .movieList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // 홈페이지에서의 리스트는 wrap되지 않습니다.
    &.home {
      justify-content: center;
      flex-wrap: nowrap;
      width: 100%;
    }

    .empty {
      width: 196px;
    }
  }

  // 각각 li
  .movieItem {
    background-color: $white;
    text-align: center;
    height: 360px;
    width: 180px;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    margin: 24px 8px;
    border-style: none;
    box-shadow: 3px 1px 10px 0 rgba(0, 0, 0, 0.1);
    color: $stone-gray;

    // btn 박스 바닥에 붙이기 위해 지정해줌, 지워도 되는 부분입니다
    figure {
      height: 272x;
      position: relative;

      // 포스터 이미지
      img {
        width: 162px;
        margin: 0 auto;
        height: 235px;
      }

      .loaded + figcaption::before {
        content: '';
        display: block;
        width: 170px;
        height: 237px;
        background-color: white;
        position: absolute;
        top: -1px;
      }
    }

    // 영화 타이틀
    figcaption {
      width: 100%;
      margin-top: 5px;
      height: 30px;
      line-height: 31px;
      font-size: 1.2rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // 개봉 예정작에서만 적용
    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    // 개봉일
    .date {
      margin: 5px 0 7px;
      font-size: 0.8rem;
      font-weight: bold;

      span {
        display: inline-block;
        margin-left: 4px;
        font-size: 0.8rem;
      }
    }

    // 예매율
    .score {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 5px;
      margin: 4px 0 8px;
      font-size: 0.8rem;
      height: 20px;

      &::before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 20px;
        background-image: url('../../src/scss/score2.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    // 상세정보 & 예매하기 버튼
    .button {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 0.8rem;
      color: $lightenstone-gray;

      a {
        display: inline-block;
        width: 80px;
        height: 40px;
        line-height: 40px;
      }

      // 예매하기 버튼 없을 때 width 값 전체 차지하기
      .single {
        width: 164px;
      }
    }

    // 순위 스티커
    .rank {
      position: absolute;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 36px;
      background-color: rgba(238, 46, 36, 0.95);
      top: -3px;
      left: 12px;
      color: #f2f2f1;
      z-index: 99;
    }

    .button {
      a {
        background-color: $dark-white;
        box-sizing: border-box;
        border: 1px solid $dark-white;
        transition: 0.3s;

        &:hover {
          background-color: $white;
          border: 1px solid $red;
          color: $red;
        }

        &:active {
          background-color: $red;
          border: 1px solid $red;
          color: $white;
        }
      }
    }
  }
}

// 공통부분 - 이미지 로딩 인디케이터

.movieItem {
  figure {
    .loaded + figcaption + .ispinner {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 37%;
      left: 44.5%;

      .ispinner__blade {
        position: absolute;
        left: 44.5%;
        top: 37%;
        width: 10%;
        height: 25%;
        border-radius: 50%/20%;
        animation: iSpinnerBlade 1s linear infinite;
        animation-play-state: paused;
      }

      .ispinner__blade:nth-child(1) {
        animation-delay: -1.6666666667s;
        transform: rotate(30deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(2) {
        animation-delay: -1.5833333333s;
        transform: rotate(60deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(3) {
        animation-delay: -1.5s;
        transform: rotate(90deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(4) {
        animation-delay: -1.4166666667s;
        transform: rotate(120deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(5) {
        animation-delay: -1.3333333333s;
        transform: rotate(150deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(6) {
        animation-delay: -1.25s;
        transform: rotate(180deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(7) {
        animation-delay: -1.1666666667s;
        transform: rotate(210deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(8) {
        animation-delay: -1.0833333333s;
        transform: rotate(240deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(9) {
        animation-delay: -1s;
        transform: rotate(270deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(10) {
        animation-delay: -0.9166666667s;
        transform: rotate(300deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(11) {
        animation-delay: -0.8333333333s;
        transform: rotate(330deg) translate(0, -150%);
      }

      .ispinner__blade:nth-child(12) {
        animation-delay: -0.75s;
        transform: rotate(360deg) translate(0, -150%);
      }

      .ispinner__blade {
        animation-play-state: running;
      }

      .ispinner__blade {
        background-color: $dark-red;
      }

      height: 35px;
    }

    @keyframes iSpinnerBlade {
      0% {
        opacity: 0.85;
      }

      50% {
        opacity: 0.25;
      }

      100% {
        opacity: 0.25;
      }
    }
  }
}
