@import '../common.module.scss';
@media (min-width: 768px) {
}
@media (max-width: 767px) {
  .wrapper {
    width: 95%;
    margin: 7px auto;
    background-color: white;
    display: flex;
    height: 120px;
    padding: 7px;
    .poster {
      width: 75px;
      height: 100%;
    }
    .info {
      margin: 7px;
      width: 100%;
      p {
        font-size: 0.8rem;
      }
      .title {
        width: 90%;
        font-size: 0.9rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p:nth-child(2) {
        font-size: 0.7rem;
        margin: 2px 0;
      }
      .date {
        font-size: 0.9rem;
      }
    }
  }
}
