@import '../common.module.scss';
@media (min-width: 768px) {
  .ReservationStepsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px;
  }
}

@media (max-width: 767px) {
  .ReservationStepsWrapper {
    padding-top: 126px;
    position: relative;
    h1 {
      width: 0;
      height: 0;
      font-size: 0;
    }
  }
}
