@import '../common.module.scss';

.wrapper {
  background-color: $silver-white;

  box-shadow: inset 0px 10px 20px 0 rgba(0, 0, 0, 0.1);

  h1 {
    color: #ee2e24;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
}