@import '../common.module.scss';
@media (min-width: 768px) {
  .ReservationStepsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px;
  }
}

// @media (max-width: 767px) {
//   .ReservationStepsWrapper {
//     padding-top: 132px;
//     position: relative;
//   }
// }
