@import '../common.module.scss';

@media (min-width: 768px) {
  .seatWrapper {
    flex: 2;
  }
  .screen {
    width: 375px;
    height: 30px;
    margin: 0 auto 35px;
    background: $dark-gray;
    text-align: center;
    line-height: 30px;
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  .screen {
    width: 80vw;
    height: 30px;
    margin: 0 auto 35px;
    background: $dark-gray;
    text-align: center;
    line-height: 30px;
    font-size: 0.9rem;
  }
}
.seatArea {
  margin: 0 auto;
  .row {
    display: flex;
    justify-content: center;
  }
}
